.nav-tabs .nav-link {
          color: #495057;
          outline: none;
 border:none;
 padding: 0px;
    padding-top: 6px;
        font-size: 25px;
        margin-right:16px;
              @media screen and (max-width: 768px) {
        font-size: 14px;
      }

}
.nav-tabs{
  border:none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: black;
        outline:none;
font-weight: 600;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    font-size: 25px;
        padding: 0px;
    padding-top: 6px;
        margin-right:20px;

                  @media screen and (max-width: 768px) {
        font-size: 14px;
      }
}

.modal-dialog {
  .confirm-box-body {
    text-align: center;
  }
  .confirm-box-header-confirm{
    margin-left: -1px;
    margin-top: -1px;
    background-color: #fff;
    color: #fff;
    margin-bottom: -24px;
    border: none;
    height: 10px;
    z-index: 1;
  }
  .confirm-box-body-confirm{
    text-align: center;
    padding-top:40px;

  }
  .confirm-box-footer-confirm{
    height: 93px;
    padding-bottom: 68px;
    border-top: none;
    justify-content: center;
    .btn-secondary {
      background-color: #363636;
      font-size: 13px;
      color:#363636;
      border: 1px solid #363636;
      border-radius: 30px;
      padding: 5px 45px;
      margin-left: -163px;
      background-color:white;
      font-weight: 700;
      margin-right: -163px;
      @media screen and (max-width: 550px) {
        margin-right: -186px;
        margin-left: 95px;
      }
    }
    .btn-primary {
      background-color: #363636;
      font-size: 13px;
      color: white;
      border: 1px solid #363636;
      border-radius: 30px;
      padding: 5px 45px;
      margin-left: -163px;
      background-color: #363636;
      font-weight: 700;
      margin-right: -163px;
      @media screen and (max-width: 550px) {
        margin-right: 93px;
        margin-left: -77px;


      }
    }
  }

  .confirm-box-footer {
    border-top: none;
    justify-content: center;

    button {
      background: $black;
      color: #fff;
      border: none;
      outline: none;

      &.btn-secondary {
        opacity: .5;
      }
    }
  }

}

.modal-content{
  border: none;

  -webkit-box-shadow: 10px 9px 5px 0px rgba(54,54,54,0.13);
  -moz-box-shadow: 10px 9px 5px 0px rgba(54,54,54,0.13);
  box-shadow: 10px 9px 5px 0px rgba(54,54,54,0.13);

  confirm-box-body-confirm

  .modal-header{
    margin-left: -1px;
    margin-top: -1px;
    background-color: #fff;
    color: #fff;
    //margin-bottom: -24px;
    //border: none;
    //height: 10px;
    //z-index: 1;
  }
  .white-button{
    background-color: #363636;
    font-size: 13px;
    color: #363636;
    border: 1px solid #363636;
    border-radius: 30px;
    padding: 5px 45px;
    margin-left: 20px;
    background-color:white;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
  }
  .black-button{
    background-color: #363636;
    font-size: 13px;
    color: white;
    border: 1px solid #363636;
    border-radius: 30px;
    padding: 5px 45px;
    margin-left: 20px;
    background-color:#363636;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
  }
}


